<form action="/new" method="POST">
  Description: <textarea name="description" cols="30" rows="10"></textarea> <br>
  Image URL: <input type="text" name="imageUrl"> <br>
  Address: <input type="text" name="address"><br>
  <button type="submit">Create room</button>
</form>